.divContainerTable {
  overflow: auto;
  font-size: 13px;
}
select#filterSelect {
  text-align: center;
}
button.w-100.mt-2.btn.btn-primary {
  background-color: #242320;
  border: none;
  border-radius: 5px;
}
/* .backgroundYellow {
  background-image: linear-gradient(to right top, #ebe6da, #e8d9b1, #e3cd88, #dbc05d, #d2b42b);
} */
.registrati {
  color: #242320;
  font-size: 17px;
  font-weight: 500;
}
/* .backgroundYellow2 {
  background-image: linear-gradient(to left bottom, #ebe6da, #e8d9b1, #e3cd88, #dbc05d, #d2b42b);
} */
.registratiButton {
  width: 100%;
  background-color: #242320;
  border: none;
}
.newCustomerButton {
  background-color: #242320;
  border: none;
  border-radius: 5px;
}
.filterByButton {
  border: 2px solid black;
  padding: 4px;
  font-weight: 500;
}
/* .backgroundYellow3 {

  background-image: url("https://plus.unsplash.com/premium_photo-1678743133488-3e3400aafee2?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-image: linear-gradient(to bottom, #ebe6da, #e8d9b1, #e3cd88, #dbc05d, #d2b42b);
  height: 100vh; 
} */
.divButtonModal {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.form-label {
  margin: 0.5rem;
  font-size: 14px;
  font-weight: 600;
}
.saveCustomerButtonModal {
  background-color: #746527;
  border: none;
}
.closeCustomerButtonModal {
  background-color: #0e0e0c;
  border: none;
}
input.form-control {
  font-size: 14px;
}
body{
  background-image: url("https://images.unsplash.com/photo-1521618755572-156ae0cdd74d?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

}
